.container{
    text-align: center;
    margin: 10px 0;
}
table{
    margin: auto;
}
input{
    width: 300px;
    font-size: 25px;
    border-radius: 5px;
}
button{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: burlywood;
    width: 65px;
}
/*to give better user experience*/
button:hover{
    cursor: pointer;
    background-color: azure;
}
.calculator{
    background-color: cadetblue;
    display: inline-block;/*block display into specific area*/
    padding: 15px; /*so there's spacing inside the box. beter ui*/
    border-radius: 10px;
}